@import url("https://fonts.googleapis.com/css?family=Raleway|Montserrat");

.navbar-logo {
  font-family: "Raleway", sans-serif !important;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1em;
}

body,
html {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}

